# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Build output
dist/
*.tsbuildinfo

# Testing
coverage/
*.log

# IDEs & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Mac / Linux Trash
.trash/
